html, body, div, span, 
h1,  a, table, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}

:focus {
  outline: 0;
}


/* // utility classes // */

.clr{ 
  visibility: hidden; 
  display: block; 
  height: 0; 
  clear: both;
}


.sprite {
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url('images/sprite.png');
}

/* // page core styles // */

body {
  background-color:#f8f8f8;
  font-family: 'Droid Serif', serif;
  line-height: 1;
}

.logo {
	width: 100px;
	height: 48px;
}

.site-header {
	margin-top: 143px;
	padding-bottom: 50px;
}

.page-body {
  min-height: 830px;
}

.page-center {
  display: block;
  max-width:760px;
  position: relative;
  margin: 0 auto;
  padding:0px 10px;
}


.page-summary p {
	margin: 0px;
	padding: 0px;
  line-height: 1.2em;
}

.page-heading {
	font-size: 30px;
	font-weight: 700;
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2); 
  margin-bottom: 20px;
}


.site-footer {
  background-color: #666666;
  color: #FFF;
  font-family: 'Droid Sans', sans-serif;
  padding: 15px 0px;
  font-size: 13px;
  width: 100%;
  border-top: 1px solid #000;
}

.footer-name {
  font-weight: 700;
}

/* // basket table Css // */

.basket-form {
  margin-top: 70px;
}

.basket-table {
    border-collapse: collapse;
    width: 100%;
}


.basket-table tr,
.basket-table td,
.basket-header th {
  vertical-align: middle;
}

.basket-header {
  text-align: left;
  border-collapse: collapse;
}

.basket-header th {
  border-bottom: 1px solid #999999;
  font-weight: 700;
}

.basket-header .col-5 {
  border-bottom: none;
}

.col-3 {
  width: 93px;
  padding: 5px 0px;
}

.col-2,
.col-4  {
  width: 68px;
}

.col-5 {
  width: 36px;
  text-align: center;
  padding: 5px 0px;
}




/*Amount picker */

.amount-picker {
  position: relative;
  width: 100%;
}

.picker-amount {
  width: 40px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #999999;
  display: inline-block;
  float: left;
  margin-right: 3px;
  text-align: right;
  font-size: 15px;
  font-family: 'Droid Serif', serif;
  padding-right: 4px;

}

.btn-box {
	float: left;
}

.amount-btn  {
  background-color: #999999;
  color: #FFF;
  text-align: center;
  width: 16px;
  height: 16px;
  line-height: 16px;
  cursor: pointer;
  display: block;
  text-decoration: none;
}

.amount-btn:hover {
 background-color: #676767;
}


.amount-increase-btn {
	margin-bottom: 2px;
}


.delete-btn {
  height: 24px;
  width: 16px;
  display: inline-block;
  cursor: pointer;
  background-position: 0px 0px;
}

.delete-btn:hover{
  background-position: -20px 0px;
}

.basket-total-amount {
  float: right;
  margin-right: 65px;
}

.basket-totals {
  color: #999999;
  margin-top: 46px;
  margin-bottom: 50px;
}

.basket-total {
 margin-bottom: 6px;
}

.basket-total-label{
  float: left;
}

.overall-basket-total {
  margin-top: 25px;
  color: #000;
  font-weight: 700;
}

.buy-btn {
  text-decoration: none;
  color: #FFF;
  background-color: #000066;
  font-family: 'Droid Sans', sans-serif;
  padding: 10px 5px;
  border-radius: 7px;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 5.33);
  font-size: 20px;
  float: right;
  margin-right: 65px;
  cursor: pointer;
  margin-bottom: 20px;
}

.buy-btn:hover {
  background-color: #3333ff;
}

.buy-btn.disabled {
  color: #FFF;
  opacity: 0.55;
  filter: alpha(opacity=55);
  box-shadow: none;
  cursor: default;
}

.buy-btn.disabled:hover {
  background-color: #000066;
}

@media (max-width: 485px) {
  .page-body {
    min-height:initial;
  }

  .site-header,
  .basket-form {
    margin-top: 15px;
  }

  .basket-table  {
    font-size: 13px;
    line-height: 15px;
  }
}

